*{
  color:white;
    -webkit-user-select: none;    /*드래그 금지*/
}

.hidden{
  display: none;
}

.bgd-img{
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute;  /*absolute -> 상위 요소 기준*/
  top: 0;
  left: 0;
}