.todo-list-container ul {
  position: absolute;
  bottom: 0.5%;
  right: 1%;
  opacity: 0;
}

.todo-list-container ul li {
  margin-top: 10px;
  color:white;
}

.todo-list-container :hover {
  animation: todo-appear 1s forwards;     /*forwards-> 마지막 프레임 유지*/
}

/* appear animation */
@keyframes todo-appear {
  from {
    opcaity: 0;
  }
  to {
    opacity: 1;
  }
}

#todo-question{
  font-size: 2rem;
}

.todo-question-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.todo-question-container:hover{
  animation: todo-appear 1s forwards;
}

.todo-input {
  text-align: center;
  font-size: 1.5rem;
  width: 15rem;
  border: none;
  outline: 0;
  background: transparent;
  border-bottom: 1.5px solid white;
  margin-top: 10px;
  /* border-left-style: none; */
}

#todo-list li {
  font-size: 25px;
}

#todo-list>li button {
  margin-right: 10px;
}